@*@model VietPhuongAnFurniture.Models.Product*@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*.crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

        .crop img {
            width: 700px;
            height: 00px;
            margin: -75px 0 0 -100px;
        }*/
    .price-box_custom {
        border-bottom-width: 1px;
        font-size: 24px;
        line-height: 1;
        margin: 0 0 40px;
        padding: 0 0 35px;
    }

    .product_info_custom {
        font-size: 14px;
    }
    #gallery-1 {
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

            </li>
            <li class="active">@Model.Product.Name - @Model.Product.Code</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->

<div id="main" class="page">
    <header class="page-header">
        <div class="container">
            <h1 class="title">@Model.Product.Name - @Model.Product.Code</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <article class="content product-page col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div id="gallery-1" class="royalSlider rsDefault">
                            @for (int i = 0; i < Model.TImage.Count; i = i + 1)
                            {
                                @*<a data-rsbigimg="@Url.Content(Model.TImage[i].Path)">
            </a>*@

                                @*<a class="rsImg bugaga" data-rsw="400" data-rsh="500" data-rsbigimg="@Url.Content(Model.TImage[i].Path)"><img width="96" height="72" class="rsTmb" src="@Url.Content(Model.TImage[i].Path)"></a>*@
                                <a class="rsImg bugaga" data-rsbigimg="@Url.Content(Model.TImage[i].Path)" href="@Url.Content(Model.TImage[i].Path)">Vincent van Gogh - Still Life: Vase with Twelve Sunflowers<img width="96" height="72" class="rsTmb" src="@Url.Content(Model.TImage[i].Path)"></a>
                            }
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <div class="reviews-box">
                            <div class="rating-box">
                                <div style="width: 80%" class="rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
                                            </svg>
                                </div>
                            </div>
                            <span>@Model.Product.View view(s)</span>
                            <span class="separator">|</span>
                            <a href="#reviews" class="add-review">Add your review</a>
                        </div>

                        <div class="description">
                            <p class="product_info_custom"><b>Mã sản phẩm:</b> @Model.Product.Code</p>
                            <p class="product_info_custom"><b>Xuất xứ:</b> @Model.Product.Origin</p>
                            <p class="product_info_custom"><b>Màu sắc:</b> @Model.Product.Color</p>
                            <p class="product_info_custom"><b>Chất liệu:</b> @Model.Product.Stuff</p>
                            <p class="product_info_custom"><b>Kích thước:</b> @Model.Product.Size</p>
                            <p class="product_info_custom"><b>Loại sản phẩm:</b> @Model.Product.ProductTypeName - @Model.Product.ProductSubTypeName</p>
                        </div>
                        @if (Model.Product.Price2 != 0)
                        {
                            <div class="price-box_custom">
                                <span class="price">Giá: @string.Format("{0:0,0}", Model.Product.Price) - @string.Format("{0:0,0}", Model.Product.Price2) đ</span>
                            </div>
                        }
                        else if (Model.Product.Price != 0)
                        {
                            <div class="price-box">
                                <span class="price">Giá: @string.Format("{0:0,0}", Model.Product.Price) đ</span>
                            </div>
                        }
                        else
                        {
                            <div class="price-box">
                                <span class="price">Giá: @string.Format("{0:0,0}", Model.Product.Price2) đ</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="product-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">Mô tả</a></li>
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                        </div>
                    </div><!-- .tab-content -->
                </div>
                <div class="clearfix"></div>
            </article><!-- .content -->
        </div>
    </div>
</div><!-- #main -->
<div id="desHide" style="display: none">@Model.Product.Description</div>
<script type="text/javascript">
    var htmlCode = $("#desHide").text();
    var $log = $("#description"),
        str = htmlCode,
        html = $.parseHTML(str),
        nodeNames = [];

    // Append the parsed HTML
    $log.append(html);

    jQuery(document).ready(function ($) {
        $('#gallery-1').royalSlider({
            fullscreen: {
                enabled: true,
                nativeFS: true
            },
            controlNavigation: 'thumbnails',
            autoScaleSlider: true,
            autoScaleSliderWidth: 960,
            autoScaleSliderHeight: 850,
            loop: false,
            imageScaleMode: 'fit-if-smaller',
            navigateByClick: true,
            numImagesToPreload: 2,
            arrowsNav: true,
            arrowsNavAutoHide: true,
            arrowsNavHideOnTouch: true,
            keyboardNavEnabled: true,
            fadeinLoadedSlide: true,
            globalCaption: false,
            globalCaptionInside: false,
            thumbs: {
                appendSpan: true,
                firstMargin: true,
                paddingBottom: 4
            }
        });
    });
</script>