@*@model VietPhuongAnFurniture.Models.Product*@

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-margin-left-10 {
        margin-left: 10px;
    }

    .dx-htmleditor-content img {
        vertical-align: middle;
        padding-right: 10px;
    }

    .value-content {
        margin-top: 20px;
        overflow: auto;
        height: 110px;
        width: 100%;
        white-space: pre-wrap;
    }

    .html-editor {
        margin-bottom: 10px;
        background: white !important;
    }

    .checkbox {
        margin-top: 10px !important;
    }
    /*.register-form {
        background: none !important;
    }*/
    .widget-container {
        margin-right: 320px;
    }

    .content h4 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
    }

    .content {
        margin-top: 50px;
        margin-left: 10px;
    }

    .selected-item {
        margin-bottom: 20px;
    }

    #selected-files {
        display: none;
    }

    .dx-gallery-item-content > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .dx-fileuploader-upload-button {
        display: none !important;
    }

    .highlight {
        border: 1px solid red !important;
    }
</style>
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Trang chủ</a> </li>
            <li class="active">Cập nhật sản phẩm</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->
<section id="main">
    <header class="page-header">
        <div class="container">
            <h1 class="title">Cập nhật sản phẩm</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="content login col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-error fade in alert-warning alert-dismissable" style="display: none">
                            <i class="fa fa-warning alert-icon"></i>
                            Không được để trống tên sản phẩm.
                        </div>
                        <label>Tên sản phẩm: <span class="required">*</span></label>
                        <input class="form-control" type="text" id="pName" value="@Model.Product.Name" />

                        <label>Mã sản phẩm:</label>
                        <input class="form-control" type="text" id="pCode" value="@Model.Product.Code" />

                        <label>Xuất xứ:</label>
                        <input class="form-control" type="text" id="pOrigin" value="@Model.Product.Origin" />

                        <label>Màu sắc:</label>
                        <input class="form-control" type="text" id="pColor" value="@Model.Product.Color" />

                        <label>Chất liệu:</label>
                        <input class="form-control" type="text" id="pStuff" value="@Model.Product.Stuff" />

                        <label>Kích thước:</label>
                        <input class="form-control" type="text" id="pSize" value="@Model.Product.Size" />

                        <label>Giá: (VNĐ)</label>
                        <input class="form-control" type="text" id="pPrice" value="@Model.Product.Price" />

                        <label>Thông tin:</label>
                        <input class="form-control value-description" type="hidden" id="pDes">
                        <div class="value-content" hidden></div>
                        <div class="html-editor">
                        </div>
                        <h5>Ảnh sản phẩm</h5>
                        <table id="shopping-cart-table" class="shopping-cart-table table table-bordered table-striped" style="margin-bottom: 10px">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th class="td-name">Tên ảnh</th>
                                    <th class="td-edit">Vị trí</th>
                                    <th class="td-remove"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ProductImage.Count; i = i + 1)
                                {
                                    <tr>
                                        <td class="td-images">
                                            <a href="product-view.html" class="product-image">
                                                <img src="@Url.Content(Model.ProductImage[i].Path)" alt="" width="70" height="70">
                                            </a>
                                        </td>
                                        <td class="td-name">
                                            <h2 class="product-name">
                                                <span>@Model.ProductImage[i].ImageName</span>
                                            </h2>
                                        </td>
                                        <td class="td-edit">
                                            <span class="imgIndex">@Model.ProductImage[i].Index</span>
                                        </td>
                                        <td class="td-remove" style="cursor:pointer;">
                                            <p class="imgTextId" style="display:none">@Model.ProductImage[i].Id</p>
                                            <p class="imgStt" style="display:none">1</p>
                                            <a class="product-remove">
                                                <i class="fa fa-trash-o"></i>
                                            </a><!-- .product-remove -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><!-- .shopping-cart-table -->
                        <h5>Thêm ảnh</h5>
                        <div id="file-uploader"></div>
                        <div id="galleryContainer" style="width: 100%; height: 500px; display: none">
                        </div>
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" id="pBes"> Sản phẩm bán chạy?
                            </label>
                        </div>
                        <div class="buttons-box clearfix">
                            <button class="btn pull-left btn-success" id="btnSubmit">Cập nhật</button>
                            <button id="btnCancel" class="btn pull-left btn-danger btn-margin-left-10">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container -->
</section><!-- #main -->
<p id="desHide" style="display: none">@Model.Product.Description</p>
<p id="idHide" style="display: none">@Model.Product.Id</p>
<script>
    $(document).ready(function () {

    });
    $('tbody').sortable({
        start: function (event, ui) {
            var currPos1 = ui.item.index();
            console.log('start: ', currPos1);
        },
        change: function (event, ui) {
            var currPos2 = ui.item.index();
            console.log('change: ', currPos2);
        }
    });
    $(".html-editor").html($("#desHide").text());
    // Html Code Editor
    $(function () {
        $(".html-editor").dxHtmlEditor({
            height: 300,
            toolbar: {
                items: [
                    "undo", "redo", "separator",
                    {
                        formatName: "size",
                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                    },
                    {
                        formatName: "font",
                        formatValues: [
                            "Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman",
                            "Verdana"
                        ]
                    },
                    "separator", "bold", "italic", "strike", "underline", "separator",
                    "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                    {
                        formatName: "header",
                        formatValues: [false, 1, 2, 3, 4, 5]
                    }, "separator",
                    "orderedList", "bulletList", "separator",
                    "color", "background", "separator",
                    "link", "image", "separator",
                    "clear", "codeBlock", "blockquote"
                ]
            },
            mediaResizing: {
                enabled: true
            },
            onValueChanged: function (e) {
                $(".value-content").text(e.component.option("value"));
                $(".value-description").val($(".value-content").text());
            }
        }).dxHtmlEditor("instance");
    });
    // Upload Image
    var imgSrcs = [];
    var imgFilesUploaded = [];
    var imgIndex = "";
    $(function () {
        @*var productImage = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ProductImage));
        for (var i = 0; i < productImage.length; i++) {
            lstFileLoadFromSv.push(base64toBlob(productImage[i].ImageName, productImage[i].Base64, 'image/jpeg'));
        }*@
        $("#file-uploader").dxFileUploader({
            multiple: true,
            accept: "*",
            value: [],
            uploadMode: "useButtons",
            selectButtonText: "Chọn ảnh",
            labelText: "hoặc thả ảnh vào đây",
            onValueChanged: function (e) {
                console.log('Image Change');
                var indexDefault = 1;
                imgIndex = "";
                imgSrcs = [];
                imgFilesUploaded = [];
                var files = e.value;
                if (files.length > 0) {
                    $("#galleryContainer").css("display", "block");
                    $.each(files,
                        function (i, file) {
                            imgFilesUploaded.push(file);
                            var fileURL = URL.createObjectURL(file);
                            imgSrcs.push({ imageSrc: fileURL, name: file.name });
                            imgIndex += file.name + ";" + indexDefault + ",";
                            indexDefault++;
                        });

                    $("#galleryContainer").dxGallery({
                        dataSource: imgSrcs
                    });
                } else {
                    $("#galleryContainer").css("display", "none");
                    $("#galleryContainer").dxGallery({
                        dataSource: []
                    });
                }
            }
        }).dxFileUploader("instance");
    });
    // Submit
    $(function() {
        $("#btnSubmit").click(function (evt) {
            var lstImgOrder = "";
            var indexOrder = 1;
            $('#shopping-cart-table > tbody  > tr').each(function() {
                //console.log($(".td-edit > .imgIndex", this)[0].innerHTML + " - " + $(".td-remove > .imgTextId", this)[0].innerHTML);
                lstImgOrder += indexOrder +
                    ";" +
                    $(".td-remove > .imgTextId", this)[0].innerHTML + ",";
                indexOrder++;
            });
            var files = imgFilesUploaded;
            var data = new FormData();
            var name = $("#pName").val().trim();
            if (name.length > 0) {
                data.append('productId', $("#idHide").text());
                data.append('pName', name);
                data.append('pCode', $("#pCode").val().trim().toUpperCase());
                data.append('pOrigin', $("#pOrigin").val().trim());
                data.append('pColor', $("#pColor").val().trim());
                data.append('pStuff', $("#pStuff").val().trim());
                data.append('pSize', $("#pSize").val().trim());
                data.append('pPrice', $("#pPrice").val().trim().replace(/,/g, ""));
                data.append('pDes', $("#pDes").val().trim());
                var bestIsChecked = $('#pBes:checked');
                data.append('pBes', bestIsChecked.length);
                if (files.length > 0) {
                    imgIndex = imgIndex.substring(0, imgIndex.length - 1);
                    for (var i = 0; i < files.length; i++) {
                        data.append('fileUploads', files[i]);
                    }
                }
                data.append('imgIndex', imgIndex);
                for (var i = 0; i < lstRemove.length; i++) {
                    console.log('remove: ', lstRemove[i]);
                    data.append('fileDeletes', lstRemove[i]);
                }
                lstImgOrder = lstImgOrder.substring(0, lstImgOrder.length - 1);
                console.log('lstImgOrder ', lstImgOrder);
                data.append('imgOrders', lstImgOrder);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EditProduct", "Detail")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function(message) {
                        alert(message);
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        });
    });
    // Remove Image
    var lstRemove = [];
    $('.td-remove').click(function (e) {
        $("i", this).toggleClass("fa-trash-o fa-times");
        var imgId = $(".imgTextId", this)[0].innerHTML;
        if ($(".imgStt", this)[0].innerHTML == "1") {
            $(".imgStt", this)[0].innerHTML = "0";
            $("i", this).css("color", "red");
            lstRemove.push(imgId);
        } else {
            $(".imgStt", this)[0].innerHTML = "1";
            $("i", this).css("color", "black");
            lstRemove.splice($.inArray(imgId, lstRemove), 1);
        }
    });
    function base64toBlob(name, base64Data, contentType) {
        contentType = contentType || '';
        var sliceSize = 1024;
        var byteCharacters = atob(base64Data);
        var bytesLength = byteCharacters.length;
        var slicesCount = Math.ceil(bytesLength / sliceSize);
        var byteArrays = new Array(slicesCount);

        for (var sliceIndex = 0; sliceIndex < slicesCount; ++sliceIndex) {
            var begin = sliceIndex * sliceSize;
            var end = Math.min(begin + sliceSize, bytesLength);

            var bytes = new Array(end - begin);
            for (var offset = begin, i = 0; offset < end; ++i, ++offset) {
                bytes[i] = byteCharacters[offset].charCodeAt(0);
            }
            byteArrays[sliceIndex] = new Uint8Array(bytes);
        }
        return new File([new Blob(byteArrays, { type: contentType })], name, { type: contentType });
    }
</script>
