@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<aside class="widget menu">
    <header>
        <h3 class="title">Danh sách sản phẩm</h3>
    </header>
    <nav>
        <ul>
            @*<li><a href="#">Mẫu nhà ở</a></li>*@
            @for (int i = 0; i < Model.allProductTypes.Count; i++)
            {
                <li class="parent active">

                    <a href="#"><span class="open-sub"></span>@Model.allProductTypes[i].Name</a>
                    <ul class="sub">

                        @for (int j = 0; j < Model.allProductSubTypes.Count; j++)
                        {
                            @if (Model.allProductSubTypes[j].ProductTypeId == Model.allProductTypes[i].Id)
                            {
                                <li><a asp-area="" asp-controller="Home" asp-route-subType="@Model.allProductSubTypes[j].ProductTypeId">@Model.allProductSubTypes[j].Name</a></li>

                            }
                        }

                    </ul>
                </li>
            }

           
        </ul>
    </nav>
</aside><!-- .menu-->
<aside class="widget shop-by">
    <header>
        <h3 class="title">Lọc</h3>
    </header>
    @*<div class="section">
        <h4 class="subtitle">Currently Shopping by:</h4>
        <ul class="selected">
            <li>
                <span><i class="fa fa-angle-right"></i> Price: <span>$0.00 - $999.99</span></span>
                <a href="#" class="close">×</a>
            </li>
            <li>
                <span><i class="fa fa-angle-right"></i> Manufacturer: <span>Apple</span></span>
                <a href="#" class="close">×</a>
            </li>
        </ul>
    </div>*@
    <div class="section">
        <h4 class="subtitle">Hiển thị theo giá</h4>
        <ul>

            <li><i class="fa fa-angle-right"></i> <a href="#">5,000,000 - 10,000,000</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#">10,000,000 - 15,000,000</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#">15,000,000 - 20,000,000</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#">Lớn hơn 20,000,000</a></li>
        </ul>
    </div>
    <div class="section">
        <h4 class="subtitle">Hiển thị theo chất liệu</h4>
        <ul>
            @for (int i = 0; i < Model.allStuff.Count; i++)
            {
                <li><i class="fa fa-angle-right"></i> <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-stuff="@Model.allStuff[i]">@Model.allStuff[i]</a></li>
            }

        </ul>
    </div>
</aside>



