@*@using Microsoft.Ajax.Utilities*@
@{
    ViewData["Title"] = "Trang chủ";
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">Sản phẩm nổi bật</li>
        </ul>
    </div>
</div><!-- .breadcrumb-box -->

<partial name="Banner" />


<section id="main">
    <header class="page-header">
        @*<div class="container">
                <h1 class="title">Product Category</h1>
            </div>*@
    </header>

    <div class="container">
        <div class="row">
            <div id="catalog" class="content col-sm-12 col-md-9">
                <div class="category-img">
                    <img src="~/img/content/megamenu-big2.png" width="870" height="370" alt="">
                    <div class="description">Sự pha trộn giữa chất liệu gỗ sang trọng cổ điển, cùng lớp da, nỉ bọc hiện đại là xu hướng không mới nhưng chẳng bao giờ lỗi mốt.</div>
                </div>

                <div class="toolbar clearfix">
                    <div class="grid-list">
                        <span class="grid">
                            <span class="glyphicon glyphicon-th-large"></span>
                        </span>
                        @*<a href="catalog-list.html" class="list">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>*@
                    </div>

                    <div class="sort-catalog">
                        <div class="btn-group sort-by btn-select">
                            <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown" href="#">Sort by: <span>Rating</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Price</a></li>
                                <li><a href="#">Rating</a></li>
                                <li><a href="#">Name</a></li>
                            </ul>
                        </div><!-- .sort-by -->
                        <button type="button" class="btn up-down btn-default" data-toggle="button"><span></span></button>
                    </div><!-- .sort-catalog -->

                    <div class="sort-catalog">
                        <div class="btn-group show-by btn-select">
                            <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown" href="#">Show: <span>12</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">11</a></li>
                                <li><a href="#">12</a></li>
                            </ul>
                        </div><!-- .show -->
                        <span class="per-page">per page</span>
                    </div><!-- .sort-catalog -->

                </div>

                <div class="clearfix"></div>

                <div class="products grid row">
                    @for (int i = 0; i < Model.allProducts.Count; i++)
                    {
                        <div class="col-sm-4 col-md-3 col-sm-3 product rotation">
                            <div class="default">
                                @if (Model.allProducts[i].IsBestSelling)
                                {
                                    <span class="sale top"></span>
                                }
                                else
                                {
                                    <span class="sale new"></span>

                                }
                                    <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allProducts[i].Id" class="product-image">
                                        <img alt="Image" src="~/@Url.Content(Model.allProducts[i].GImage.Path)" title="" width="270" height="270">
                                    </a>

                                <div class="product-description">
                                    <div class="vertical">
                                        <h3 class="product-name">
                                            <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id= "@Model.allProducts[i].Id">@Model.allProducts[i].Name - @Model.allProducts[i].Code</a>
                                        </h3>
                                        <div class="price">@String.Format("{0:n0}", Model.allProducts[i].Price) - VND</div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-hover">
                                <h3 class="product-name">
                                    <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allProducts[i].Id">@Model.allProducts[i].Name - @Model.allProducts[i].Code</a>
                                </h3>
                                <div class="price">@String.Format("{0:n0}", Model.allProducts[i].Price) - VND</div>
                                <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allProducts[i].Id" class="product-image">
                                    @*<img src="~/img/content/product-04.jpg" alt="" title="" width="70" height="70" class="image-sm-custom">*@
                                   
                                    <img alt="Image" src="~/@Url.Content(Model.allProducts[i].GImage.Path)" title="" width="70" height="70">
                                   
                                </a>
                              
                                <ul>
                                    <li>@Model.allProducts[i].Size</li>
                                    <li>@Model.allProducts[i].Color</li>
                                    <li>@Model.allProducts[i].Stuff</li>
                                </ul>
                                <div class="actions">                                  
                                    <a href="#" class="add-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                        <path fill="#1e1e1e" d="M11.335,0C10.026,0,8.848,0.541,8,1.407C7.153,0.541,5.975,0,4.667,0C2.088,0,0,2.09,0,4.667C0,12,8,16,8,16
					s8-4,8-11.333C16.001,2.09,13.913,0,11.335,0z M8,13.684C6.134,12.49,2,9.321,2,4.667C2,3.196,3.197,2,4.667,2C6,2,8,4,8,4
					s2-2,3.334-2c1.47,0,2.666,1.196,2.666,2.667C14.001,9.321,9.867,12.49,8,13.684z"></path>
				  </svg>
                                    </a>
                                    <a asp-area="" asp-controller="Detail" asp-action="Details" asp-route-id="@Model.allProducts[i].Id" class="add-compare">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                        <path fill="#1e1e1e" d="M16,3.063L13,0v2H1C0.447,2,0,2.447,0,3s0.447,1,1,1h12v2L16,3.063z"></path>
                                        <path fill="#1e1e1e" d="M16,13.063L13,10v2H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h12v2L16,13.063z"></path>
                                        <path fill="#1e1e1e" d="M15,7H3V5L0,7.938L3,11V9h12c0.553,0,1-0.447,1-1S15.553,7,15,7z"></path>
				  </svg>
                                    </a>
                                </div><!-- .actions -->
                            </div><!-- .product-hover -->
                        </div>
                    }

                </div><!-- .products -->

                <div class="pagination-box">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="disabled"><a href="#">...</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <i class="pagination-text">Displaying 1 to 10 (of 100 posts)</i>
                </div><!-- .pagination-box -->
            </div><!-- .content -->
            <div id="sidebar" class="sidebar col-sm-12 col-md-3">
                <partial name="Categories"  />
                <partial name="Special" />
            </div>

        </div>
    </div><!-- .container -->

    @*<script type="text/javascript">
        function volumnChange(value) {
            //var value = document.getElementById("Slider2").value;
            console.log(value);
        }
    </script>*@
</section><!-- #main -->
